.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
}

img {
  width: 70%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  /* background-color: rgba(33, 29, 29, 0.368); */
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(110, 113, 109, 0.548);
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(163, 157, 147, 0.504);
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(195, 193, 190, 0.504);
}

h3 {
  font-family: "p";
  font-size: 1.5rem;
  color: rgba(39, 23, 13, 0.933);
  text-align: center;
  /* padding: 10%; */
  /* background-color: rgba(197, 209, 199, 0.596); */
}

h1 {
  font-size: 4rem;
  color: rgba(28, 40, 29, 0.816);
  padding: 5%;
}

button {
  justify-content: center;
  width: 70%;
  font-size: 15px;
  color: #e9e7e6;
  background: #919288d8;
  font-family: "cinzeldecoration";
  border-radius: 12px;
  margin: auto;
  gap: 20%;
}

h3 {
  font-family: "h3";
  font-size: 1.5rem;
  color: rgba(39, 23, 13, 0.933);
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  ul a {
    color: rgb(0, 0, 0);
  }

  h1 {
    font-size: 2rem;
    color: black;
  }
  .grid1 {
    grid-template-columns: 1fr;
  }
  .grid3 {
    grid-template-columns: 1fr;
  }
  .grid4 {
    grid-template-columns: 1fr;
  }

  iframe {
    width: 100%;
  }
}
