/* Billeder */

img {
  width: 80%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  /* background-color: rgba(33, 29, 29, 0.368); */
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
