/* Billeder */

img {
  width: 70%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  /* background-color: rgba(33, 29, 29, 0.368); */
}

.drives {
  padding: 10%;
  color: rgb(215, 219, 214);
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  ul a {
    color: rgb(0, 0, 0);
  }
}
