/* Billeder */

img {
  width: 80%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
  border-radius: 12px;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  /* background-color: rgba(33, 29, 29, 0.368); */
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: rgba(110, 113, 109, 0.548); */
}

p {
  background-color: rgba(210, 210, 205, 0.174);
  font-size: 1.2rem;
}

.drives {
  padding: 10%;
  color: rgb(215, 219, 214);
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  ul a {
    color: rgb(0, 0, 0);
  }
}
