/* Billeder */

img {
  width: 30%;
  gap: 20px;
  margin: 50px;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: rgba(33, 29, 29, 0.368);
}

.button {
  color: black;
  width: 30%;
  gap: 20px;
  margin: 50px;
}

p {
  font-size: 1.2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.933);
}
