/* Mine fonts */

@font-face {
  font-family: "cinzeldecoration";
  src: url("MenuFont/cinzeldecorative-regular-webfont.woff2") format("woff");
}

@font-face {
  font-family: "cinzeldecoration1";
  src: url("MenuFont/cinzeldecorative-bold-webfont.woff2") format("woff");
}

@font-face {
  font-family: "tekst";
  src: url(tekst/webfontkit-20230109-085537/arsenal-regular-webfont.woff2);
}

@font-face {
  font-family: "h3";
  src: url(tekst/webfontkit-20230109-085537/arsenal-bold-webfont.woff2);
}

/* tekst */

h1 {
  font-size: 120px;
  font-family: "cinzeldecoration";
  transition: 700ms ease;
  margin-bottom: 0px;
  color: rgb(207, 204, 177);
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: "cinzeldecoration1";
  margin-bottom: 0px;
  color: rgb(71, 67, 67);
  text-align: center;
}

p {
  font-family: "tekst";
  font-size: 1.5rem;
  color: rgba(247, 247, 247, 0.933);
  text-align: center;
  padding: 5%;
}

h1 {
  font-size: 4rem;
  color: rgba(28, 40, 29, 0.816);
  padding: 5%;
}

/* Min menu (Unordered list) */

ul {
  list-style: none;
  display: flex;
  font-family: "cinzeldecoration1";
  justify-content: space-around;
  padding: 50px 0;
  /* background-color: rgba(0, 0, 0, 0.144); */
}

ul:hover {
  letter-spacing: 1px;
  transition: 700ms ease;
}

ul a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Min baggrund */

body {
  background-image: url(billeder/beige\ background.jpg);
  background-size: cover;
}

/* Portfolie overskrift på Forside (ease in)*/

.container {
  height: 50%;
  display: flex;
  margin: 10% 30%;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "tekst";
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.933);
  /* text-align: center; */
  /* padding: 10%; */
  /* background-color: rgba(197, 209, 199, 0.596); */
}

h1:hover {
  letter-spacing: 1px;
}

.navn {
  color: bisque;
  text-align: center;
}

/* button {
  height: 25px;
  width: 60%;
  font-size: 15px;
  color: #e9e7e6;
  font-family: "cinzeldecoration";
  gap: 5px;
} */

/* burgermenu */
.toggle-btn {
  font-family: "astralaga";
  background: transparent;
  padding: 5px;
  border: solid 1px;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  place-content: center;
}

h4 {
  text-align: center;
  font-size: xx-large;
}

.grid {
  grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }

  h1 {
    font-size: 60px;
  }

  ul a {
    color: rgb(207, 204, 177);
  }

  .grid {
    grid-template-columns: 1fr;
  }

  body {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
