.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(110, 113, 109, 0.548);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
}

button {
  height: 25px;
  /* width: 70%; */
  font-size: 15px;
  color: #000000;
  background: #e9e4d7d8;
  font-family: "cinzeldecoration";
  border-radius: 12px;
  justify-content: center;
  gap: 20%;
}

.website {
  width: 90%;
}

p {
  font-family: "tekst";
  text-align: center;
  padding: 5%;
}

img {
  width: 80%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}

h1 {
  font-size: 4rem;
  color: rgba(28, 40, 29, 0.816);
  padding: 5%;
}
.GFG {
  background-color: rgba(191, 172, 155, 0.491);
  border: 2px solid rgba(97, 91, 84, 0.69);
  color: #e9e7e6;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr;
  }

  .grid3 {
    grid-template-columns: 1fr;
  }

  .grid4 {
    grid-template-columns: 1fr;
  }

  ul a {
    color: rgb(0, 0, 0);
  }

  h1 {
    font-size: 2rem;
    color: black;
  }
}
