/* Billeder */

img {
  width: 70%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  /* background-color: rgba(33, 29, 29, 0.368); */
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(110, 113, 109, 0.548);
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: rgba(110, 113, 109, 0.548); */
}

button {
  height: 25px;
  width: 70%;
  font-size: 15px;
  color: #e9e7e6;
  background: #919288d8;
  font-family: "cinzeldecoration";

  border-radius: 12px;
}

h2 a {
  color: aliceblue;
}

h1 {
  font-size: 4rem;
  color: rgba(28, 40, 29, 0.816);
  padding: 5%;
}

.Moodboard {
  width: 90%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}
.Stylesile {
  width: 100%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}

.Wireframe {
  width: 90%;
  gap: 20px;
  margin: 40px;
  justify-self: center;
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  ul a {
    color: rgb(0, 0, 0);
  }

  h1 {
    font-size: 2rem;
    color: black;
  }
}
